.input {
    margin: 25px 0px 25px 10px;
}

.submit {
    background-color: #fafafaa3;
    border-radius: 8px;
    border-width: 0;
  
    padding: 10px;
    transition: 0.3s ease;
  }
  
.submit:hover {
    background-color: #b7b5b5b6;
  }
  